.welcome-container {
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(to bottom, #ffcc33, #ff9966);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-container p {
  margin: 10px 0;
  font-size: 16px;
}

.welcome-container p strong {
  font-weight: bold;
}

.welcome-container p:last-child {
  font-size: 18px;
  font-style: italic;
  color: #555;
}

